pytest
moto
docker # seems to be required for moto

# Test libraries that allow for efficient loop-testing of
#
# https://stackoverflow.com/questions/35097577/pytest-run-only-the-changed-file
#
# pytest-xdist was annoyingly triggered by temporary files written by moto library
# with no obvious workaround other that restructuring project or hacking tests to
# run in different root.
#
pytest-picked
pytest-testmon
pytest-watch
