boto3==1.21.38
click
pytest
pyyaml
jinja2
rich
cfn-flip
moto
docker # seems to be required for moto
cfn-lint # moto requirement (for cfn validation)
gitpython # access templates over git
git-url-parse

# Test libraries that allow for efficient loop-testing of
#
# https://stackoverflow.com/questions/35097577/pytest-run-only-the-changed-file
#
# pytest-xdist was annoyingly triggered by temporary files written by moto library
# with no obvious workaround other that restructuring project or hacking tests to
# run in different root.
#
pytest-picked
pytest-testmon
pytest-watch
